<!---header--->
<header class="container-fluid">       
    <div class="bg-img container-lg text-center text-white py-5">
      <h1 class="fw-bold pt-5 pb-4">Track Your Vehicle’s Health, Anytime, Anywhere</h1>      
      <h3 class="text-center pb-3">Manage your car’s maintenance records with ease.</h3>
    </div>
  </header> 

  <!-- album -->
  <div class="container-fluid album">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-4">
          <div class="card mb-5">
            <img class="card-img" src="img/account.jpg" alt="Account log in">
            <div class="account card-img-overlay">
              <h4 class="card-title"><a routerLink="/user/viewUser" class="card-link text-white">Account</a></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mb-5">
             <img class="card-img" src="img/vehicles.jpg" alt="Vehicles">
            <div class="card-img-overlay">
              <h4 class="card-title"><a routerLink="/vehicle/viewVehicles" class="card-link text-white">Vehicles</a></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
             <img class="card-img" src="img/serviceRecords.jpg" alt="Service Records">
            <div class="card-img-overlay">
              <h4 class="card-title"><a routerLink="/serviceRecord/viewRecords" class="card-link text-white">Service Records</a></h4>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>

  <!--line-->
  <div class="container-lg col-4 line ">
    <hr>
  </div>

  <!--main -->
  <div class="container-fluid main">
    <div class="container-lg">
      <div>
        <h4 class="text-center pb-3">Step-by-Step Process:</h4>
        <h5 class="pb-3">Step 1: Create an Account</h5>
        <p class="fs-5">
          Sign up for an account to securely store your vehicle information. Creating an account ensures your vehicle data is private and protected.
        </p>
        <h5 class="pb-3">Step 2: Add Your Vehicle Details</h5>
        <p class="fs-5">
          Add your vehicle and input important service records. Fill in your vehicle’s model, year, and other essential details to start tracking service.
        </p>
        <h5 class="pb-3">Step 3: Log Service Records and Stay Updated</h5>
        <p class="fs-5">
          Track maintenance services and receive reminders when your car needs attention. Keep track of oil changes, tire rotations, and other services to ensure your vehicle stays in top condition.
        </p>
      </div>
    </div> 
 </div>