<div class="main container mt-5">
    <div class="row justify-content-center">
        <h3 class="text-center p-3">Login to your account</h3>

        <form [formGroup]="loginForm" class="d-flex flex-column gap-3 w-50" (ngSubmit)="onSubmit()">
            <div class="col-md-3 offset-md-3">
                <label for="username" class="form-label p-2">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                    Username is required.
                </div>
            </div>
            <div class="col-md-3 offset-md-3">
                <label for="password" class="form-label p-2">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                    Password is required.
                </div>
            </div>
            <div class="col-lg-4 p-3 offset-mb-2">            
                <button type="submit" class="btn btn-lg btn-outline-secondary" [disabled]="!loginForm.valid">Login</button>
                @if (invalidLogin) {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> Invalid username or password.
                    </div>
                }
            </div>
        </form>
        
    </div>
    <div  class="col-md-3 offset-md-3 p-5">
        Not a user? Register <button type="button" routerLink="/register" class="btn btn-sm btn-outline-secondary">now!</button>
    </div>
</div>